<!DOCTYPE html>
<html ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>hellp coursera</title>
  </head>
  <body ng-controller="myFirstController">
    <h1>My First Calculator</h1>
    <div>
      your name:
    <input type="text" ng-model="name"
     ng-keyup="displayTotalNumeric();">
    </div>
    <div>
      tolal numeric value of your name is:
      {{totalNumeric}}
    </div>
    <div><input type= "text" ng-model="food">
    <button ng-click="check()">please check me!</button></div>
    {{message}}
  </body>
</html>
